name: Update Homebrew Tap

on:
  release:
    types: [ released ]

jobs:
  homebrew:
    name: Bump Homebrew formula
    runs-on: ubuntu-latest
    steps:
      - uses: mislav/bump-homebrew-formula-action@v3
        with:
          formula-name: crestic
          homebrew-tap: alexander-kolodka/homebrew-crestic
          commit-message: "v{{version}}"
        env:
          COMMITTER_TOKEN: ${{ secrets.COMMITTER_TOKEN }}
